@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Roboto',
    sans-serif;
}

a {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    border: none;
    text-decoration: none;
}

.topNavigationMenu {
    overflow-x: scroll;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.10),
    0px 1px 10px 0px rgba(0,0,0,0.10);
    z-index: 1;
    background-color: white;
}

.centered-navigation-menu {
    text-align: center;
    display: flex;
}

.nav-element {
    width: 25%;
    align-items: center;
    background-color: white;
}

.topNavigationMenu a {
    float: left;
    display: block;
    color: grey;
    z-index: 1;
    background-color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topNavigationMenu a:hover {
    color: white;
    background-color: #787dc0;
    border-radius: 0px 0px 50px 50px;
}

.navigationTitle {
    margin-right: 150px;
    font-weight: bold;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/* Header section. */

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.header-context {
    border-left: 4px solid #1c3c7b;
    padding-left: 10px;
}

.header-context-title {
    color: #444444;
}

.header-context-info {
    font-size: 25px;
    font-weight: bold;
    color: #1c3c7b;
}

.header-context-skills {
    font-size: 14px;
    color: #efa512;
}

.about {
    background-color: #e6f3f8;
}

.about-holder {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skills {
    margin-top: 20px;
}

.skills-holder {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skills-python {
    display: flex;
    align-items: center;
}

.skills-webdev {
    display: flex;
    align-items: center;
}

.skills-machine-learning {
    display: flex;
    align-items: center;
}

.skills-ethical-hacking {
    display: flex;
    align-items: center;
}

.skills-java {
    display: flex;
    align-items: center;
}

.skills-image {
    margin-right: 10px;
}

.skills-2-holder {
    margin-top: 20px;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .header {
        display: block;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.10),
    0px 1px 10px 0px rgba(0,0,0,0.10);
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    }

    .header-context {
        border: none;
    }

    .about-holder {
        display: block;
    }

    .skills {
        margin: 10px 10px 0px 10px;
    }

    .skills-2 {
        margin: 0px 10px 10px 10px;
    }

    .skills-holder {
        display: block;
        margin-top: 25px;

    }

    .skills-2-holder {
        display: block;
        margin: auto;
    }

    .anim-about {
        margin: auto;
        width: 300px;
        height: 200px;
    }

    .about-context {
        text-align: center;
        padding: 20px 20px 10px 20px;
    }

    img {
        height: 50px;
    }

    #skills-element-margin {
        margin-top: 10px;
        padding: 15px 10px 15px 10px;
        border-radius: 7px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10),
        0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    }
}

@media screen and (max-width: 700px) {
    .topNavigationMenu.responsive {
        position: relative;
    }

    .topNavigationMenu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (min-width: 902px) {
    .centered-navigation-menu{
        text-align: center;
    }

    ::-webkit-scrollbar {
        width: none;
    }

    .topNavigationMenu {
        overflow: hidden;
        box-shadow: none;
    }

    .anim {
        width: 500px;
        height: 400px;
        margin: auto;
    }

    .about-context {
        margin: auto;
    }

    .anim-about {
        width: 500px;
        height: 400px;
    }

    .about-animation {
        border: 3px solid dodgerblue;
        border-radius: 7px;
    }

    .header, .about-holder {
        margin-left: 150px;
        margin-right: 150px;
    }

    .header-content-info {
        font-size: 35px;
    }

    .about-context {
        margin-left: 150px;
    }

    .about-animation {
        border: none;
    }

    .skills-holder {
        margin-top: 50px;
    }

    .skills-2 {
        margin-top: 50px;
    }
}

/* width */
::-webkit-scrollbar {
  width: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1da1f2; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1da1f2; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1da1f2; 
}
