* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Zen Dots', cursive;
}

.topNavigationMenu {
    overflow-x: scroll;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.10),
    0px 1px 10px 0px rgba(0,0,0,0.10);
}

.centered-navigation-menu {
    text-align: center;
    display: flex;
}

.nav-element {
    width: 25%;
    align-items: center;
}

.topNavigationMenu a {
    float: left;
    display: block;
    color: grey;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topNavigationMenu a:hover {
    color: black;
}

.navigationTitle a {
    float: left;
    color: dodgerblue;
}

.topNavigationMenu .icon {
    display: none;
}

.navigationTitle {
    margin-right: 100px;
}

@media screen and (max-width: 700px) {
    .topNavigationMenu a:not(:first-child) {
        display: none;
    }

    .topNavigationMenu a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 700px) {
    .topNavigationMenu.responsive {
        position: relative;
    }

    .topNavigationMenu.responsive .icon {
        position: absolute;
        right: 0;
        color: black;
        top: 0;
    }

    .topNavigationMenu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (min-width: 702px) {
    .centered-navigation-menu{
        text-align: center;
    }
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}